/*
  Las medidas en css se pueden agrupar en dos grupos absulutas y relativas.
  Las medidas absolutas NO CAMBIAN y siempre mantendran su tamaño independientemente del dispositivo o de la interaccion del usuario.
    La mas usada es px(pixeles) cuya medida es 1/96 de 1in, pero existen otas como: 
    cm(centimetros) -> 1cm = 96px/2.54
    mm(milimetros) -> 1mm = 1/10 de 1 cm
    Q(cuarto de milimetro) -> 1Q = 1/40 de 1cm
    in(inches, pulgadas) -> 1in = 2.54cm = 96px 
    pc(picas) -> 1pc = 1/16 de 1in
    pt(puntos) -> 1pt = 1/72 de 1in

  Las medidas relativas SIEMPRE dependen de un contexto, son las que se recomiendan utilizar en la mayoria de ocasiones, por que nos van a permitir que todos los elementos escalen proporcinalmente.
  Los mas usados son: 
    em, rem, %, vw, ph,vmin y vmax aunque tenemos otros como: 
    ex -> altura x de la fuente del elemento
    ch -> la medida del ancho del glifo "0" de la letra del elemento
    lh -> altura de la linea del elemento.
    
  rem -> Corresponde a la medida de la "m" de la raiz del documento (hmtl).
  
  ejemplo: 16px = 1rem
  
  em -> Corresponde a la medida de la "m" del contexto donde nos encontremos.
  
  El estandar del tamaño de fuente por defecto en la raiz del documento   es 16px, y NO ES RECOMENDABLE MODIFICARLO.
  
  NOTA:  tanto "em" como "rem" se calcula en base a la propiedad font-size (tamaño de fuente) 
  
  importante -> siempre utilizar rem para tamaños de fuente sin excepsion.

  % -> cuando usamos porcentaje usamos de referencia el tamaño del contenedor y el navegador calcula ese porcentaje. Esto no ocurre cuando usamos transform

  auto -> Cuando usamos auto le pedimos al navegador que calcule en funcion del espacio disponible

*/

body {
  background-color: #333;
  color: lightcoral;
}

/* .title {
  font-size: 3em;
} */

.box{
  width: auto;
  margin: 0 50px;
  height: 250px;
  background-color: #555;
}

.box-children{
  width: auto;
  height: 25%;
  margin-left: 100px;
  background-color: lightblue;
}










/* .link{
  background-color: lightsalmon;
  color: #333;
  padding: 1em 2em;
  border-radius:  0.5em;
  font-size: 4rem;
} */