/* selectores */

/* 
selectores simples
  selectores elementales
    selector universal -> *
    selector de tipo o etiqueta (nombre de la etiqueta)
  selectores de atributo
    id -> id del elemento 
    class -> clase del elemento
    otros atributos
      [atributo], 
      [atributo=valor], 
      [atributo^=valor], 
      [atributo*=valor],
      [atributo$=valor],
      [atributo|=valor]
selectores compuestos
  selectores agrupados
  selectores conbinadores
    selector descendiente
    selector de hermano siguiente +
    selector de hermanos siguientes ~
    selector de hijo directo -> solo selecciona los hijos directos
  PseudoClases - PseudoElementos
*/
/* selectores elemntales */
/* selector universal (afecta todos los elementos) */

/* 
* {
  background-color: lightblue;
} */

/* selectores de tipo o etiqueta (se usan para casos espesificos) */

/* h1 {
  background-color: lightgreen;
} */
/*
p {
  color: lightslategrey;
}

ul{
  background-color: aquamarine;
}
li{
  background-color: greenyellow;
} */

/* selectores por id "se usa el simbolo # + el nombre del atributo" no es recomendable usarla en css por espeficidad, por id se utiliza mas que todo en JavaScript*/

/* #title {
  background-color: aqua;
} */

/* selectores por clase (class) "se usa el . y el nombre del atributo" y estas no tiene limite en su uso*/

/* .cuerpo{
  background-color:mediumspringgreen;
}

.text{
  background-color: moccasin;
} */

/* selector otros atributos [] */
/* Seleccionar los elementos que tienen ese atributo */
/* 
[href] {
  background-color: mediumturquoise;
} */
/* Seleccionar los elementos que tienen ese atributo y ese valor*/

/* [href="https:/google.com"] {
  background-color: mediumorchid;
} */

/* Seleccionar los elementos que tienen ese atributo y empiezan por ese valor*/

/* [href^="color"] {
  background-color: palevioletred;
} */

/* Seleccionar los elementos que tienen ese atributo y contengan ese valor*/

/* [href*="modo"] {
  background-color: palegreen;
} */

/* Seleccionar los elementos que tienen ese atributo y terminan por ese valor*/

/* [href$="rojo"] {
  background-color: sandybrown;
} */

/* Seleccionar los elementos que tienen ese atributo y contengan ese valor*/

/* [lang|="en"] {
  background-color: springgreen;
} */

/* Seleccionar los elementos que tienen ese atributo al menos ese valor una vez*/

/* [class~="verde"]{
    color: green;
} */

/* selectores agrupados */

/* .text,
.text-2,
.text-3,
.text-4 {
  background-color: slateblue;
} */

/* selectores combinados */

/* selector descendiente */
/* 
div .title-2{
  background-color: slategray;
} */

/* selector hermano siguiente */
/* 
.text-2 + .title-2 {
  background-color: brown;
} */

/* div .title-2 {
  background-color: tomato;
} */

/* 
.text-2 + h2 {
  background-color: lightgreen;
} */

/* selector de hermanos siguientes */

.text-2 ~ .text {
  background-color: blueviolet;
}

/* selector de hijo directo */

.container > .text-2{
  background-color:aqua;
}