/* 
  La propiedad box-shadow se creo para añadir efectos de sombra a nuestra caja. En escencia lo que hace es un clon de la caja respetando la forma de su box-model (ancho, alto, redondez).

  La sintaxis de box-shadow se puede escribir de distintas formsas segun lo que se quiera conseguir.
    Los valores que le podemos poner son: 
      offset-x -> desplazamiento en x (obligatorio)
      offset-y -> desplazamiento en y (obligatorio)
      blur-radius -> desenfoque de la sombra 
      spread-radius -> expansion de la sombra 
      color -> color de la sombra, si no la espesificamos la heredara del elemento al que pertenece
      inset -> determina si la sombra sea interior o exterior
*/

.box {
  background-color: darkcyan;
  width: 200px;
  padding: 50px;
  color: peru;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 10px;
  /* forma de llenar el box-shadow */
  /* inset, desplazamiento en x, desplazamineto en y, desenfoque sombra,  expansion sombra  y   color */
  /* box-shadow: inset 5px -5px 10px 0px #111 ; */
  /* separados por comas no hay limite de digitar varios */
  box-shadow: 5px 5px greenyellow, 7px 7px blue, 12px 12px steelblue;
}
